@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2 {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: linear-gradient(to bottom right, rgb(45, 49, 66), rgb(239, 131, 84));
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: maven pro;
  font-size: 1.2rem;
  font-weight: 700;
}

.header {
  text-align: center;
  padding-top: 2rem;
  color:rgb(27, 30, 44);
  font-size: 3rem;
}

/*********MODAL*******/

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  /* align-items: center; */
}

.modal {
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(45, 49, 66);
  width: 70%;
  max-width: 900px;
  height: 25vh;
  border-radius: 3px;
}

.text-input {
    border-radius: 3px;
    border: none;
    width: 40%;
    background-color: rgb(191, 192, 192);
    color: black;
    
}

.date-input {
  border-radius: 3px;
  border: none; 
  background-color: rgb(191, 192, 192);
  
}

.status-input {
    border-radius: 3px;
    border: none;
    box-shadow: none;
    padding: 0.2rem;
    background-color: rgb(191, 192, 192);
}

/*****BUTTONS*********/
.modal-btn{
  background-color: rgb(239, 131, 84);
  padding: 0.5rem;
  border-style: none;
  border-radius: 3px;
  width: 150px;
  height: 50px;
}

.button {
    padding: 0.1rem;
    border-style: none;
    border-radius: 3px;
}

.add-btn {
    background-color: rgb(120, 188, 97);
}

.cancel-btn {
    background-color: rgb(166, 58, 80);
    margin-left: 0.5rem;
}

.item-btns{
    display: flex;
    gap: 0.5rem;
    max-height: 2rem;
}

.done-btn {
    background-color: rgba(120, 188, 97, 0.733);
}

.edit-btn {
    background-color: rgba(79, 93, 117);
}

.delete-btn {
    background-color: rgba(166, 58, 80, 0.897);
}


/*********TODO-LIST**************/

.todo-container {
    background-color: rgba(45, 49, 66);
    width: 70%;
    border-radius: 3px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
  }
  
  .todo-item{
    margin-right: 1rem;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.6;
  }
  
  .todo {
    color:beige;
    display: flex;
    gap: 0.2rem;
    width: 100%;
    padding:0.4rem;
  }
  
  .editing-todo{
    background-color: rgba(239, 130, 84, 0.884);
    border-radius: 3px;
    padding:0.2rem;
  }

@media only screen and (max-width: 1000px) {
  .App {
    font-size: 0.8rem;
  }

  .modal {
    flex-direction: column;
    gap: 0.5rem;
  }
  .modal-btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .text-input {
    width: 95%;
  }

  .date-input {
    width: 95%;
  }

  .status-input {
    width: 95%;
  }

  .todo-item{
    margin-right: 0;
  }

}
